@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
/* Oooh Baby - handwritten */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* Mate SC - Normal text , maybe Nav Bar */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
/* Cambay - Normal text , paragraphs etc. */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* Marck Script - handwritten*/

body {
    background-image: url(https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTc3NDAzMi13aWtpbWVkaWEtaW1hZ2Uta293YXdzcDcuanBn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    margin-left: 35%;
    flex-direction: column;
    align-items: center;
    font-family: Marck Script;
    width: fit-content;
    padding-bottom: 1cm;
    padding-top: 2cm;
}


h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5cm;
    color: beige;
}

ul {
    list-style-type: none;
    font-family: tahoma;
    font-size: 0.5cm;
    padding-right: 40px;
    padding-top: 5px;
}

ol {
    font-family: tahoma;
    font-size: 0.5cm;
    padding-left: 2cm;
    padding-top: 5px;
}

h4 {
    font-size: 0.7cm;
    font-family: Mate SC;
    margin: auto;
    padding-bottom: 0;
    padding-top: 0;
}

.ingredients {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    height: 50%;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 35%;
    left: 15%;
}

.ingredients h3 {
    font-size: 1cm;
    font-family: Oooh Baby;
    letter-spacing: 3px;
}


.makingup {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 35%;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;    
    left: 45%;
    top: 42%; 
}



button {
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 8%;
    left: 87%;
}