@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
/* Oooh Baby - handwritten */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* Mate SC - Normal text , maybe Nav Bar */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
/* Cambay - Normal text , paragraphs etc. */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* Marck Script - handwritten*/

body {
    background-image: url(https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTc3NDAzMi13aWtpbWVkaWEtaW1hZ2Uta293YXdzcDcuanBn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    margin-left: 35%;
    flex-direction: column;
    align-items: center;
    font-family: Marck Script;
    width: fit-content;
    padding-bottom: 1cm;
    padding-top: 2cm;
}


h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5cm;
    color: beige;
}

ul {
    list-style-type: none;
    font-family: tahoma;
    font-size: 0.6cm;
    padding-right: 40px;
    padding-top: 5px;
}

ol {
    font-family: tahoma;
    font-size: 0.6cm;
    padding-left: 2cm;
    padding-top: 5px;
}

h4 {
    font-size: 0.7cm;
    font-family: Mate SC;
    margin: auto;
    padding-bottom: 0;
    padding-top: 0;
}

.ingredients {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0.5cm;
    width: 23%;
    height: 55%;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 37%;
    left: 10%;
}

.ingredients h3 {
    font-size: 1.2cm;
    font-family: Oooh Baby;
    letter-spacing: 2px;
}


.makingup {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 44%;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;    
    left: 45%;
    top: 50%; 
}



button {
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 8%;
    left: 85%;
    background: #f5ffba;
    background-image: -webkit-linear-gradient(top, #f5ffba, #8a7800);
    background-image: -moz-linear-gradient(top, #f5ffba, #8a7800);
    background-image: -ms-linear-gradient(top, #f5ffba, #8a7800);
    background-image: -o-linear-gradient(top, #f5ffba, #8a7800);
    background-image: linear-gradient(to bottom, #f5ffba, #8a7800);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 5px #000000;
    -moz-box-shadow: 0px 1px 5px #000000;
    box-shadow: 0px 1px 5px #000000;
    font-family: Calibri;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}