@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
/* Oooh Baby - Font for H1 'Food Blog' */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* Mate SC - Normal text , maybe Nav Bar */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
/* Cambay - Normal text , paragraphs etc. */


header { 
    display:flex;
    height: 3cm;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color:burlywood;
    border: 2px solid; 
}

header input[type=text] {
    float: right;
    padding-left: 5px;
    border: 1px solid;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-right: 30px;
}

li {
    display: inline;
}

h1 {
    padding-left: 1cm;
    font-family: Oooh Baby;
    font-size: 1.5cm;
}

.navbar {
    display: flex;
    width: 100%;
    height: 2.5cm;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: 1cm;
    font-family: Mate SC;
    color: black;
}

figcaption {
    font-family: tahoma;
    font-size: 0.5cm;
    text-align: center;
}

.foodPics {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    height: 90%;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    border: 2px solid;
    }
    
.foodPics img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }

    .burger { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    
    .pizza { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .veggie { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    .soup1 { 
        grid-area: 1 / 2 / 2 / 3; 
    }

    .soup2 { 
        grid-area: 2 / 2 / 3 / 3; 
        }

    .soup3 { 
        grid-area: 3 / 2 / 4 / 3; 
        }

    .cake { 
        grid-area: 1 / 3 / 2 / 4; 
        }

    .brownies { 
        grid-area: 2 / 3 / 3 / 4; 
        }

    .muffins { 
        grid-area: 3 / 3 / 4 / 4; 
        }

footer {
    width: 100%;
    height: 4cm;
    background-color: black;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.info a {
    font-family: Cambay;
    font-size: 0.6cm;
    text-decoration: none;
    color: azure;
}