@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
/* Oooh Baby - Font for H1 'Food Blog' */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* Mate SC - Normal text , maybe Nav Bar */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
/* Cambay - Normal text , paragraphs etc. */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* Marck Script - normal text etc */


header { 
    display:flex;
    height: 3cm;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header input[type=text] {
    float: right;
    padding-left: 5px;
    border: 1px solid;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-right: 30px;
}

li {
    display: inline;
}

h1 {
    padding-left: 2cm;
    font-family: Oooh Baby;
    font-size: 1.5cm;
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 2.5cm;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: 1cm;
    font-family: Mate SC;
    color: black;
}










footer {
    width: 100%;
    height: 4cm;
    background-color: black;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.info a {
    font-family: Cambay;
    font-size: 0.6cm;
    text-decoration: none;
    color: azure;
}

.icons {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
}

.icons img {
    padding-left: 15px;
    padding-right: 15px;
}

.copyright {
    display: flex;
    padding-top: 20px;
}

.copyright p {
    margin: auto;
    font-size: 14px;
    font-family: calibri;
    color: white;
}
